:root {
  --primary: #0db534b1;
  --medium: #0c9b26ad;
  --dark: #285531;
  --grey: #bdbdbd;
  --white: #f0f0f0;
  --black: #000000;
  --shadow: 0 1px 5px rgba(73, 73, 73, 0.8);
  --textShadow: 3px 3px 4px #000;
  --transparent: rgba(238, 236, 236, 0.5);
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-family: "Italiana";
  color: var(--dark);
}

body {
  background: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  gap: 20px;
}

/*navigation*/

.main-nav {
  background-color: var(--white);
  /* position: sticky;
  top: 0;
  z-index: 100; */
  box-shadow: var(--shadow);
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
  padding: 0.5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

#nav-logo {
  height: 5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

.nav-list ul {
  list-style-type: none;
}

.nav-list a {
  color: var(--black);
  padding: 2.5rem;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: var(--dark);
}

/* footer */

.main-footer {
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--shadow);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 1rem .5rem;
}

.footer-left-city{
  margin-left: -4rem;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5rem;
}
.footer-right img {
  height: 4rem;
  margin: 0 1rem;
}


/*@media (max-width: 1000px) {
  .main-nav ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .main-footer {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .main-footer {
    font-size: 0.8rem;
  }

  .header {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
} */
